<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>The Brooklyn Game Exchange</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>

    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-sanitize.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-cookies/angular-cookies.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

</head>
<body ng-app="FullstackGeneratedApp">
    <!-- i set a $rootscope.showNavBar that we can change. from nick -->
    <navbar ng-show="showNavBar"></navbar>
    <div id="main" ui-view></div>
    <!-- <footer class="footer">In Loving Memory of Michael Bae</footer> -->
</body>
</html>
