<div class="centeredWithMaxWidth thinner">
	<div class="holder">
		<div class="col col-md-8">
			<img class ="smallImg thumbnail" ng-repeat="screenshot in thisGame.screenshots" src="{{screenshot}}"></img></br>
			<div id="titleAndStuff">
				<h1>{{thisGame.title}} <span ng-show="user.isAdmin" ng-click="deleteGame(thisGame._id)" class="glyphicon glyphicon-remove-sign" style="color:#600"></span></h1>		


				<div ng-controller="ModalCtrl" class="modalButton">
					<script type="text/ng-template" id="myModalContent.html">
					</script>
					<button class="btn btn-success" ng-click="open('sm')">Purchase Game</button>    
				</div>   
			</div>
			<span ng-bind-html="thisGame.description.match('Description.*')[0]"{{thisGame.description}}> </span>
			<hr>
		</div>
		<div class="col col-md-4" id="rightSide">
			<h5>Genre: {{thisGame.genre}}</h5><h5>Developer: <a ui-sref='profile({id: thisGame.developer._id})'>{{thisGame.developer.name}}</a></h5>

			<h5>Average rating: <span ng-repeat="rating in _.range(1, avgRatingGame + 1)">★</span><span ng-repeat="rating in _.range(1,5 - avgRatingGame + 1)"</span></h5>

			<h5>Total downloads: {{thisGame.downloads}}</h5>


		</div>




		<form name="reviewForm" ng-submit="postReview()" id="reviewsForm">
			Write a review: </br>
			<input type="textarea" width="100" id="Title" ng-model="newReview.title" placeholder="Title (What an Experience!)"></input></br>
			<textarea size="30" id="newReview" ng-model="newReview.text" placeholder="This game was pretty alright. I liked the part where my character did that thing"></textarea></br>
			<input type="number" ng-model="newReview.rating" min="0" max="5" integer placeholder="3"></input>/5
			<span ng-show="reviewForm.rating.$error.integer">The value is not a valid integer!</span>
			<input type="submit"></input>
		</form>

	</div>

	<div id="reviews">
		<single-review ng-repeat="review in reviews"></single-review>
	</div>
</div>