<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-if="$index < 3">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-repeat="item in items" ng-if="$index === 3 && isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-repeat="item in items" ng-if="$index === 4 && isDev()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-repeat="item in items" ng-if="$index === 5 && isAdmin()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <i class="glyphicon glyphicon-shopping-cart"  ui-sref="cart({id: user._id})"></i>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>