#reviewsForm{
	display: block;
	clear: both;
	
	#Title{
		width: 40%;
	}
	#newReview{
		height: 100px;
		width: 100%;
	}
}

#reviews{
	display: block;
}

.holder{
	display: inline;
	background: #f00;
}


#rightSide{
	display: inline-block;
	border: 1px solid lightgrey;
	background: white;
	border-radius: 5px;
	height: 100%;
	margin-right: -20px;
	padding: 10px;
}


.thinner{
	width: 70%;
}

