<div class="centeredWithMaxWidth thinner">
	
	<div class="stats col-lg-8">
		<img id="profile-pic" ng-src="{{user.photo}}" width='60px'></img>
		<h2>{{user.name}}</h2>
		<h4>Member since: 2014</h4>
		<div>
				<h3>Games I Bought:</h3><br>
				<single-game-thumb ui-sref='agame({id: game._id})' ng-repeat="game in user.purchaseHistory"></single-game-thumb>
				<h3 ng-show="user.createdGames.length > 0">Games I Created:</h3><br>
				<single-game-thumb ui-sref='agame({id: game._id})' ng-repeat="game in user.createdGames" ></single-game-thumb>
				<h3 ng-show="user.reviews.length > 0">My Reviews:</h3><br>
				<single-review ng-repeat="review in user.reviews"></single-review>


		</div>		
	</div>


	<div class="recommendations col-lg-4">	
		<h3>My Recommendations:</h3>
		<div ng-show='user.recommendations.length == 0'><img src="http://condition1industries.com/images/MegaMan.jpg" class="pull-left" style="width: 75px;"></img>You have no recommendations! Go buy some games so we know what you're into!</div>
		<single-game-thumb ui-sref='agame({id: game._id})' ng-repeat="game in user.recommendations"></single-game-thumb>
	</div>


</div>
