<div ng-controller="BrowseCtrl" class="centeredWithMaxWidth">

	<p>sort by: <span ng-click="sortBy('title')">title</span> | <span ng-click="sortBy('downloads')">downloads</span> | <span ng-click="sortBy('genre')">genre </span> | <span ng-click="sortBy('price')">minimum price</span>  <input ng-model="search.query" placeholder="Search Games"></input></p>

	<div id = "bigcontainer">
		<single-game-thumb ng-repeat="game in gamesList | orderBy : sortMethod | filter: search.query" ></single-game-thumb>
	</div>
</div>