single-game-thumb {
	display: inline;

  .individualcontainer {
  	box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: 230px;
    height: 230px;
    background: transparent;
    margin: 15px;
    border-radius: 0px;
    box-shadow: 0 0 5px 1px #888;
    transition: .1s;

    #innercontainer{
      padding: 0 10px;
    }

    .littlelabel {
      font-size: 10pt;
      color: black;
    }

    img {
      position: relative;
      display: inline;
      width: 240px;
      height: 80%;
      left: -10px;
      margin-bottom: 3px;
    }

  }

  .individualcontainer:hover{
    box-shadow: 0 0 20px 5px #888;
    margin-bottom: 13px;

  }
}