.signup-form {
	width: 60%;
  	margin: 0 auto;
	
	h1 {
		display: inline;
	}

	img {
		max-height: 40px;
	}

	hr{
		border: 1px solid black;
	}

	input {
		margin: 5px;
		margin-bottom:2%;
		border-radius: 5px;
	}

	.btn{
		margin-bottom: 1%;
	}

	#infoBad {
		color: red;
	}

	#infoGood {
		color: green;
	}

}

.oauth {
	display: block;
	width: 60%;
  	margin: 0 auto;
}