.container-sign-up {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ddd;
}

.signup-form {
	margin: 0 auto;
	width: 60%;
	
	h1 {
		display: inline;
	}

	img {
		max-height: 40px;
	}

	hr{
		border: 1px solid black;
	}

	input {
		margin: 5px;
		margin-bottom:2%;
		border-radius: 5px;
	}

	.btn{
		margin-bottom: 1%;
		padding: 0.5%;
	}

	#infoBad {
		color: red;
	}

	#infoGood {
		color: green;
	}
}

.oauth {
	width: 100%;
	margin: 0 auto;
}
