<div class="centeredWithMaxWidth thinner">
	<h1 ng-show="signedIn">{{name}}'s Cart</h1>
	<h1 ng-show="!signedIn">Your Cart</h1>
	<div ng-show="cart.length" class="panel panel-default addPadding">
		<div class="container-fluid">
			<div class="col-xs-6 col-sm-3">
				Screenshot
			</div>
			<div class="col-xs-6 col-sm-6 cartItem">
				Description
			</div>
			<div class="col-xs-6 col-sm-3">
				Price
			</div>
		</div>


		<cart-item ng-repeat="item in cart"></cart-item>

			<hr>
		<div class="container-fluid">
			<div class="col-xs-6 col-sm-3">
				
			</div>
			<div class="col-xs-6 col-sm-6 cartItem">
				
			</div>
			<div class="col-xs-6 col-sm-3">
				Total: <span class="label label-default">${{getTotal()}}</span></br>
			</br>
				<button class="btn btn-success" ng-click="checkOut()"> Check out ➔</button>
			</div>
		</div>
	</div>
	<div ng-show="!cart.length">
<img src="http://i.imgur.com/m79AeEk.png" style="width:400px"></img>
<h3 style="display:inline">Your cart is empty! Go <span ui-sref="browse" style="color:grey;cursor:pointer">buy some games!</span></h3>
</div>
<game-of-life></game-of-life>
</br>
<!-- <pre>Your Cart Total is {{getTotal()}}</pre> -->

