<div>
	<h1 ng-show="name">{{name}}'s Cart</h1>
	<h1 ng-show="!name">Your Cart</h1>
	<div ng-show="cart.length" class="centeredWithMaxWidth thinner">
		<div ng-show="cart.length" class="panel panel-default addPadding">
			<div class="container-fluid">
				<div class="col-xs-6 col-sm-3">
					Screenshot
				</div>
				<div class="col-xs-6 col-sm-6 cartItem">
					Description
				</div>
				<div class="col-xs-6 col-sm-3">
					Price
				</div>
			</div>


			<cartitem ng-repeat="item in cart"></cartitem>

			<hr>
			<div class="container-fluid">
				<div class="col-xs-6 col-sm-3">
					
				</div>
				<div class="col-xs-6 col-sm-6 cartItem">
					
				</div>
				<div class="col-xs-6 col-sm-3">
					Total: <span class="label label-default">${{getTotal()}}</span></br>
				</br>
				<button class="btn btn-success" ng-click="checkOut()"> Check out ➔</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="!cart.length"><h3>Your cart is empty! Go <span ui-sref="browse">buy some games!</span></h3></div>
</div>
</br>
<!-- <pre>Your Cart Total is {{getTotal()}}</pre> -->

