* {
  box-sizing: border-box;
}


body {
font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: light;
  background: #EEE;
  color: #222;

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

#bigcontainer{
  display: inline;
}

.oauth{
  margin-top: 15px;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'sign-up/main';
@import 'gamepage/main';