.profile {

	
	.pic-name {

		h2{
			display: inline;
		}

		#profile-pic {
			width: 10%;
			border: 1px solid black;
		}

	}
	
	.stats {
		display: inline;
	}

	single-game-thumb {
		.individualcontainer {
			width: 150px;
			height: 150px;
		}
	}

}